---
import defaultCoverImage from '$assets/og-image.webp';
import PreloadFont from '$components/PreloadFont.astro';
import '$reset.css';
import '@fontsource-variable/crimson-pro';
import fontCrimsonPro from '@fontsource-variable/crimson-pro/files/crimson-pro-latin-wght-normal.woff2';

export type Props = {
  title: string;
  description?: string;
  favicon?: string;
  coverImage?: string;
};

const {
  title = 'Zak Johnson',
  description = 'Whiskey, ginger, & a dash of bitters.',
  favicon = '/favicon.svg',
  coverImage = defaultCoverImage.src,
}: Props = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title} · zakj.net</title>
    <meta name="author" content="Zak Johnson" />
    <meta name="description" content={description} />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />

    <meta property="og:title" content={`${title} · zakj.net`} />
    <meta property="og:type" content="webpage" />
    <meta property="og:url" content={Astro.url} />
    {coverImage ? <meta property="og:image" content={coverImage} /> : ''}

    <link rel="icon" href={favicon} type="image/svg+xml" />
    <!-- <link rel="apple-touch-icon" href="icon.png" /> -->

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="theme-color"
      content="#fff"
      media="(prefers-color-scheme: light)"
    />
    <meta
      name="theme-color"
      content="#222"
      media="(prefers-color-scheme: dark)"
    />

    <PreloadFont src={fontCrimsonPro} />
    <PreloadFont src="/fonts/GT-Walsheim-Black.woff2" />
    <!-- <PreloadFont src="/fonts/GT-Walsheim-Bold.woff2" /> -->
    <slot name="extra-head" />
  </head>

  <body class="loading no-js">
    <script is:inline>
    document.body.classList.remove('no-js');
    document.fonts.ready.then(() =>
      document.body.classList.remove('loading'),
    );
    </script>
    <slot />

    <style is:global>
      /* @font-face {
        font-display: fallback;
        font-family: GT Walsheim;
        font-style: normal;
        font-weight: normal;
        src: url(/fonts/GT-Walsheim-Bold.woff2) format('woff2');
      } */

      @font-face {
        font-display: fallback;
        font-family: GT Walsheim;
        font-style: normal;
        font-weight: bold;
        src: url(/fonts/GT-Walsheim-Black.woff2) format('woff2');
      }

      :root {
        --color-black: #222;
        --color-white: #fff;
        --color-bg: var(--color-white);
        --color-fg: var(--color-black);
        --font-family-body: Crimson Pro Variable, serif;
        --font-family-display: GT Walsheim, sans-serif;
        --font-family-numeric: GT Walsheim, sans-serif;
        --font-family-monospace: Menlo, monospace;
        --font-size-body: fluid(17px, 28px, 390px, 750px);
        --font-size-small: fluid(12px, 14px, 390px, 750px);
        --font-size-monospace: fluid(12px, 22px, 390px, 750px);

        background: var(--color-bg);
        color: var(--color-fg);
        font-family: var(--font-family-body);
        font-size: var(--font-size-body);
      }

      code,
      pre {
        background-color: color-mix(in srgb, var(--color-fg) 3%, transparent);
        border-radius: 3px;
        border: 2px solid color-mix(in srgb, var(--color-fg) 6%, transparent);
        font-family: var(--font-family-monospace);
        font-size: var(--font-size-monospace);
        padding-inline: 0.1em;
      }
      pre {
        padding: 0.5em 0.8em;
        white-space: pre-wrap;
      }

      @media (prefers-color-scheme: dark) {
        :root {
          --color-bg: var(--color-black);
          --color-fg: var(--color-white);
        }
      }

      h1,
      h2,
      h3 {
        font-family: var(--font-family-display);
        font-size: fluid(30px, 70px, 390px, 750px); /* TODO: h2 h3 */
        line-height: 1;
        text-transform: uppercase;
        /* TODO: lacks browser support */
        text-wrap: pretty;
      }

      a {
        color: inherit;
        text-decoration-color: color-mix(
          in srgb,
          var(--color-fg) 20%,
          transparent
        );
        text-decoration-thickness: 0.07em;
        text-underline-position: from-font;
        transition: text-decoration-color 150ms ease-in-out;
      }
      a:hover {
        text-decoration-color: inherit;
      }
      body.loading:not(.no-js) a {
        text-decoration-line: none;
      }
    </style>
  </body>
</html>
