---
import ogImage from '$assets/og-image.webp';
import PreloadFont from '$components/PreloadFont.astro';
import '$reset.css';
import '@fontsource-variable/crimson-pro';
import fontCrimsonPro from '@fontsource-variable/crimson-pro/files/crimson-pro-latin-wght-normal.woff2';
import '@fontsource-variable/yanone-kaffeesatz';
import fontYanoneKaffeesatz from '@fontsource-variable/yanone-kaffeesatz/files/yanone-kaffeesatz-latin-wght-normal.woff2';

export type Props = {
  title: string;
  description?: string;
  favicon?: string;
  coverImage?: string;
};

const {
  title = 'Zak Johnson',
  description = 'Whiskey, ginger, & a dash of bitters.',
  favicon = '/favicon.svg',
  coverImage = ogImage.src,
}: Props = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title} · zakj.net</title>
    <meta name="author" content="Zak Johnson" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content={`${title} · zakj.net`} />
    <meta property="og:type" content="webpage" />
    <meta property="og:url" content={Astro.url} />
    {coverImage ? <meta property="og:image" content={coverImage} /> : ''}

    <link rel="icon" href={favicon} type="image/svg+xml" />
    <!-- <link rel="apple-touch-icon" href="icon.png" /> -->

    <meta
      name="theme-color"
      content="#fff"
      media="(prefers-color-scheme: light)"
    />
    <meta
      name="theme-color"
      content="#222"
      media="(prefers-color-scheme: light)"
    />

    <PreloadFont src={fontCrimsonPro} />
    <PreloadFont src={fontYanoneKaffeesatz} />
    <slot name="extra-head" />
  </head>

  <body class="loading no-js">
    <script is:inline>
      document.body.classList.remove('no-js');
      document.fonts.ready.then(() =>
        document.body.classList.remove('loading'),
      );
    </script>
    <slot />

    <style is:global>
      :root {
        --color-black: #222;
        --color-white: #fff;
        --color-bg: var(--color-white);
        --color-fg: var(--color-black);
        --font-family-body: Crimson Pro Variable, serif;
        --font-family-display: Yanone Kaffeesatz Variable, sans-serif;

        background: var(--color-bg);
        color: var(--color-fg);
        font-size: 17px;
        font-family: var(--font-family-body);
      }

      h1,
      h2,
      h3 {
        font-family: var(--font-family-display);
        text-transform: uppercase;
        /* TODO: lacks browser support */
        text-wrap: pretty;
      }

      @media (prefers-color-scheme: dark) {
        :root {
          --color-bg: var(--color-black);
          --color-fg: var(--color-white);
        }
      }

      @media screen and (min-width: 750px) {
        :root {
          font-size: 28px;
        }
      }

      a {
        color: inherit;
        text-decoration-color: color-mix(
          in srgb,
          var(--color-fg) 20%,
          transparent
        );
        text-decoration-thickness: 0.07em;
        text-underline-position: from-font;
        transition: text-decoration-color 150ms ease-in-out;
      }
      a:hover {
        text-decoration-color: inherit;
      }
      body.loading:not(.no-js) a {
        text-decoration-line: none;
      }
    </style>
  </body>
</html>
