---
import defaultCoverImage from '$assets/og-image.webp';
import PreloadFont from '$components/PreloadFont.astro';
import '$style/reset.css';
import '$style/base.css';
import '$style/defaults.css';
import '@fontsource-variable/crimson-pro';
import fontCrimsonPro from '@fontsource-variable/crimson-pro/files/crimson-pro-latin-wght-normal.woff2';

export type Props = {
  title: string;
  description?: string;
  favicon?: string;
  coverImage?: string;
};

const {
  title = 'Zak Johnson',
  description = 'Whiskey, ginger, & a dash of bitters.',
  favicon = '/favicon.svg',
  coverImage = defaultCoverImage.src,
}: Props = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title} · zakj.net</title>
    <meta name="author" content="Zak Johnson" />
    <meta name="description" content={description} />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />

    <meta property="og:title" content={`${title} · zakj.net`} />
    <meta property="og:type" content="webpage" />
    <meta property="og:url" content={Astro.url} />
    {coverImage ? <meta property="og:image" content={coverImage} /> : ''}

    <link rel="icon" href={favicon} type="image/svg+xml" />
    <!-- <link rel="apple-touch-icon" href="icon.png" /> -->

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="theme-color"
      content="#fff"
      media="(prefers-color-scheme: light)"
    />
    <meta
      name="theme-color"
      content="#222"
      media="(prefers-color-scheme: dark)"
    />

    <PreloadFont src={fontCrimsonPro} />
    <PreloadFont src="/fonts/GT-Walsheim-Black.woff2" />
    <!-- <PreloadFont src="/fonts/GT-Walsheim-Bold.woff2" /> -->
    <slot name="extra-head" />
  </head>

  <body class="loading no-js">
    <script is:inline>
      document.body.classList.remove('no-js');
      document.fonts.ready.then(() =>
        document.body.classList.remove('loading'),
      );
    </script>
    <slot />
  </body>
</html>
