---
export interface Props {
  title: string;
  description?: string;
  favicon?: string;
  image?: string;
}

const {
  title = 'Zak Johnson',
  description = 'Whiskey ginger & a dash of bitters.',
  favicon = '/favicon.svg',
  image,
} = Astro.props;

import '$reset.css';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title} · zakj.net</title>
    <meta name="author" content="Zak Johnson" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="{title} · zakj.net" />
    <meta property="og:type" content="webpage" />
    <meta property="og:url" content={Astro.url} />
    {image ? <meta property="og:image" content={image} /> : ''}

    <link rel="icon" href={favicon} type="image/svg+xml" />
    <!-- <link rel="apple-touch-icon" href="icon.png" /> -->

    <meta
      name="theme-color"
      content="#fff"
      media="(prefers-color-scheme: light)"
    />
    <meta
      name="theme-color"
      content="#222"
      media="(prefers-color-scheme: light)"
    />

    <link
      rel="preload"
      href="/fonts/GT-Sectra-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
  </head>

  <body class="loading">
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --color-black: #222;
    --color-white: #fff;
    --color-bg: var(--color-white);
    --color-text: var(--color-black);
    --color-underline: rgba(34, 34, 34, 0.2);

    background: var(--color-bg);
    color: var(--color-text);
    font-size: 17px;
    font-family: GT Sectra, serif;
  }

  @font-face {
    font-display: fallback;
    font-family: GT Sectra;
    font-style: normal;
    font-weight: normal;
    src: url(/fonts/GT-Sectra-Regular.woff2) format('woff2'),
      url(/fonts/GT-Sectra-Regular.woff) format('woff');
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-bg: var(--color-black);
      --color-text: var(--color-white);
      --color-underline: rgba(255, 255, 255, 0.2);
    }
  }

  @media screen and (min-width: 750px) {
    :root {
      font-size: 28px;
    }
  }

  a {
    color: inherit;
    text-decoration-thickness: 0.07em;
    text-underline-position: from-font;
    transition: text-decoration-color 150ms ease-in-out;
    text-decoration-color: var(--color-underline);
  }
  a:hover {
    text-decoration-color: inherit;
  }
  body.loading a {
    text-decoration-line: none;
  }
</style>

<script>
  document.fonts.ready.then(() => document.body.classList.remove('loading'));
</script>
